* {
	box-sizing: border-box;
}

html {
	background-color: #f5f5f5;
	color: #393939;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: #fff;
  padding-top: 12px;
	padding-bottom: 12px;
}

.header__logo {
	text-align: center;
	height: 40px;
}

.header__svg {
  display: inline-block; 
  vertical-align:middle; 
  margin-left: 0px; 
  margin-right: 0px;
}

.header__svg--text {
	padding-left: 5px;
}

.header__contact {
  text-align: center;
}

.header__contact-info {
	text-align: center;
	margin-top: -8px;
	margin-bottom: 0px;
}

.cta-text--non-mobile,
.cta--non-mobile {
  display: none;
}

/*.content-spacer--top {
  margin-top: 30px;
}

.content-spacer--bottom {
  margin-bottom: 30px;
}*/

.cta-mobile {
	background-color: #3D8B37;
	/*background-color: #8FBC8F;*/
	/*background-color: #698B69;*/
	/*background-color: #548B54;*/

	padding-left: 30px;
	padding-right: 30px;
}

.cta-mobile-button {
	background-color: #fff;
	padding-top: 25px;
	padding-bottom: 15px;
  text-align: center;
}

.cta-mobile__text {
	margin: 0px;
	padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.cta__phone-link {
  /*background-color: #C0D9D9;*/
  /*background-color: #93DB70;*/
  /*background-color: #B9DE8B;*/
  background-color: #A8D397;

  display: inline-block;
  padding: 14px;
  width: 200px;
  font-weight: bold;
  text-decoration: none;
}

.header__contact-info--email {
  display: none;
}

.section {
  margin-bottom: 20px;
}

.nav {
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  /*background-color: #e3e3e3;*/
  background-color: #e5e5e5;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav__link {
	display: inline-block;
}

.nav__link a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 8px 16px;
	text-transform: uppercase;
}

.nav__link a:hover,
.nav__link a:focus
 {
	color: #fff;
	/*color: #393939;*/
	background-color: #8DC63F;
	background-color: #B9DE8B;
	/*background-color: #C0D9D9;*/
	background-color: #A8D397;
	background-color: #5F755E;
}

.nav__link a:active
 {
	color: #fff;
	background-color: red;
}

.cta__text {
	color: #fff;
	margin: 0px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
}

.content-section {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #fff;
}

/*consider making this a utility class?*/
.content-section--condensed {
  padding-top: 0;
  padding-bottom: 0;
}

.content-section__heading {
	text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.content-section__subheading {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
}

.staggered-content__image {
	width: 100%;
	height: auto;
	display: block;
}

.staggered-content__text {
	margin-top: 15px;
	display: inline-block;
}

.staggered-content--right {
	float: right;
}

/*quote styles*/
.quote {
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
}

.quote-author {
	text-align: center;
	font-style: italic;
}

.back-to-top {
	text-align: center;
}

.footer {
	background-color: #426F42	;
}

.footer-text {
	text-align: center;
	font-size: 0.875rem;
	color: #fff;
}

@media only screen and (min-width: 33.75em) {  /* 540px */

  .header__contact-info--phone {
    background-color: inherit;
    padding: 0;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: none;
    color: #393939;
  }

  .header__contact-info--email {
    display: block;
  }

	.nav__link a {
		padding: 14px 16px;
  }

  .cta-text--non-mobile,
  .cta--non-mobile {
    display: block;
    text-align: center;
	  /*background-color: #009444;*/
	  /*background-color: #548B54;*/
	  background-color: #3D8B37;
	  padding-top: 10px;
	  padding-bottom: 10px;
  }

  .cta-mobile,
  .cta-mobile-button {
  	display: none;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
	.header__logo {
    text-align: left;
  }

  .header__contact-info {
	  text-align: right;
  }

  .content-section__heading {
  	text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .content-section__subheading {
  	text-align: left;
  	margin-top: 0px;
  	margin-bottom: 20px;
  }

  .staggered-content__image {
	  width: 48%;
	  height: auto;
	  display: inline-block;
  }

  .footer-nav {
  	display: none;
  }

  .staggered-content__paragraphs {
	  width: 48%;
	  margin-top: 0px;
  }

  .staggered-content__text {
	  margin-top: 0px;
  }

  .back-to-top {
  	display: none;
  }
}