* {
	box-sizing: border-box;
}

html {
	background-color: #efefef;
	color: #393939;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: #fff;
  padding-top: 12px;
	padding-bottom: 12px;
}

.header__logo {
	text-align: center;
	height: 40px;
}

.header__svg {
  display: inline-block; 
  vertical-align:middle; 
  margin-left: 0px; 
  margin-right: 0px;
}

.header__svg--text {
	padding-left: 5px;
}

.header__contact {
  text-align: center;
}

.header__contact-info {
	text-align: center;
	margin-top: -8px;
	margin-bottom: 0px;
}

.header__contact-info--phone {
  background-color: #009444;
  padding: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.header__contact-info--email {
  display: none;
}

.section {
  margin-bottom: 20px;
}

.nav {
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #e3e3e3
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav__link {
	display: inline-block;
}

.nav__link a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 8px 16px;
	text-transform: uppercase;
}

.nav__link a:hover,
.nav__link a:focus
 {
	color: #fff;
	background-color: #8DC63F;
}

.nav__link a:active
 {
	color: #fff;
	background-color: red;
}

.cta {
	text-align: center;
	background-color: #009444;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid #8DC63F;
}

.cta__text {
	color: #fff;
	margin: 0px;
	font-weight: bold;
}

.content-section {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	background-color: #fff;
}

.content-section__heading {
	text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.content-section__subheading {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
}

.staggered-content__image {
	width: 100%;
	height: auto;
	display: block;
}

.staggered-content__text {
	margin-top: 15px;
	display: inline-block;
}

.staggered-content--right {
	float: right;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .header__contact-info--phone {
    background-color: inherit;
    padding: 0;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: none;
    color: #393939;
  }

  .header__contact-info--email {
    display: block;
  }

	.nav__link a {
		padding: 14px 16px;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
	.header__logo {
    text-align: left;
  }

  .header__contact-info {
	  text-align: right;
  }

  .content-section__heading {
  	text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .content-section__subheading {
  	text-align: left;
  	margin-top: 0px;
  	margin-bottom: 20px;
  }

  .staggered-content__image {
	  width: 48%;
	  height: auto;
	  display: inline-block;
  }

  .staggered-content__paragraphs {
	  width: 48%;
	  margin-top: 0px;
  }

  .staggered-content__text {
	  margin-top: 0px;
  }
}